@import url('../fonts/inter.css');

body{font-family:Inter,sans-serif;font-size:16px;font-weight:400!important;color:#000000}
*{font-family:Inter,sans-serif;font-weight:400}
a:hover,
a:active,
a:focus{
  text-decoration: none;
}
::-webkit-input-placeholder {
    color: #626e77;
    font-size: 0.81rem;
}

:-moz-placeholder { /* Firefox 18- */
    color: #626e77;
    font-size: 0.81rem;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #626e77;
    font-size: 0.81rem;
}
.font-500{font-weight:500!important}
.form-control{border:1px solid #656565}
.select2-container{z-index:9999}
.PCOS_div_new p{margin-bottom:0;color:#000;font-weight:300;font-size:18px}
@media (max-width:1680px){
.PCOS_div_new p{margin-bottom:0;color:#000;font-weight:300;font-size:16px}
}
.PCOS_div_new .treatment_all_heading_page{margin-bottom:10px;font-size:32px;color:#000;font-weight:600}
@media (max-width:1440px){
.PCOS_div_new .treatment_all_heading_page{margin-bottom:8px;font-size:30px;color:#000;font-weight:600}
}
@media (max-width:1280px){
.PCOS_div_new .treatment_all_heading_page{margin-bottom:8px;font-size:26px;color:#000;font-weight:600}
}
@media (max-width:600px){
.PCOS_div_new .treatment_all_heading_page{margin-bottom:10px;font-size:24px;color:#000;font-weight:600;text-align:left}
}
.view_more_commmon_btn{margin-top:30px;padding:10px 20px;color:#fff;font-size:16px;text-transform:uppercase;font-weight:500;border-radius:30px;line-height:normal;background-color:#1f83c5}
.view_more_commmon_btn:hover{color:#fff}

/*==========================================*/
/* New Banner css*/
/*==========================================*/
.banner_new_section{padding:30px 0;background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('../images/banner_bg.webp');background-color:#0c4679;background-size:cover;background-position:center left;background-repeat:no-repeat}
.banner_new_section h1{font-size:55px;font-weight:700;line-height:normal;color:#fff}
.banner_new_section img{width:100%}
.PCOS_div_new .talk_about_btn{width:auto;display:inline-block;margin:10px 0 0 0;padding:10px 30px;line-height:normal;color:#0c4679;border-radius:50px;font-weight:600;font-size:21px;text-align:center;border:none;background-color:#fff!important;box-shadow:0 4px 15px rgb(175 173 173 / 18%)}
.PCOS_div_new .talk_about_btn:hover{color:#1f83c5!important}
@media (max-width:1440px){
.banner_new_section h1{font-size:45px;font-weight:700;line-height:normal;color:#fff}
.PCOS_div_new .talk_about_btn{width:auto;display:inline-block;margin:10px 0 0 0;padding:10px 30px;line-height:normal;color:#0c4679;border-radius:50px;font-weight:600;font-size:18px;text-align:center;border:none;background-color:#fff!important;box-shadow:0 4px 15px rgb(175 173 173 / 18%)}
}
@media (max-width:992px){
.banner_new_section h1{font-size:38px;font-weight:700;line-height:normal;color:#fff}
.PCOS_div_new .talk_about_btn{width:auto;display:inline-block;margin:10px 0 0 0;padding:8px 30px;line-height:normal;color:#0c4679;border-radius:50px;font-weight:600;font-size:16px;text-align:center;border:none;background-color:#fff!important;box-shadow:0 4px 15px rgb(175 173 173 / 18%)}
}
@media (max-width:600px){
.banner_new_section h1{font-size:35px;font-weight:700;line-height:normal;color:#fff;text-align:center}
.banner_new_section{padding:30px 0 15px;background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('../images/banner_bg_mob.webp');background-color:#0c4679;background-size:cover;background-position:center;background-repeat:no-repeat;border-radius:0 0 20px 20px}
.PCOS_div_new .talk_about_btn{width:80%;display:block;text-align:center;margin:15px auto 20px;padding:8px 30px;line-height:normal;color:#0c4679;border-radius:50px;font-weight:600;font-size:18px;text-align:center;border:none;background-color:#fff!important;box-shadow:0 4px 15px rgb(175 173 173 / 18%)}
.banner_new_section img{width:100%;padding:15px}
}
@media (max-width:400px){
.banner_new_section h1{font-size:32px;font-weight:700;line-height:normal;color:#fff;text-align:center}
.PCOS_div_new .talk_about_btn{width:80%;display:block;text-align:center;margin:15px auto 20px;padding:10px 30px;line-height:normal;color:#0c4679;border-radius:50px;font-weight:600;font-size:16px;text-align:center;border:none;background-color:#fff!important;box-shadow:0 4px 15px rgb(175 173 173 / 18%)}
.banner_new_section img{width:100%;padding:10px}
}
@media (max-width:375px){
.banner_new_section img{width:100%;padding:10px}
}
@media (max-width:360px){
.banner_new_section h1{font-size:28px;font-weight:700;line-height:normal;color:#fff;text-align:center}
}

/*==========================================*/
/* What section css*/
/*==========================================*/
.PCOS_div_new.What_section_pcos{margin-top:50px}
@media (max-width:600px){
.PCOS_div_new.What_section_pcos{margin-top:30px}
}


/*==========================================*/
/* Why section css*/
/*==========================================*/
.PCOS_div_new.why_section_PCOS{margin-top:50px}
.PCOS_div_new.why_section_PCOS .container{padding:40px;background-color:#e0f3ff;border-radius:20px}
.why_section_PCOS .icon_box_why{width:56px;height:56px;padding:10px;margin-right:12px;background-color:#0c4679;border-radius:6px}
.why_section_PCOS p{line-height:normal;font-size:18px;font-weight:300;line-height:normal;margin-bottom:0}
.why_section_PCOS p span{font-size:24px;font-weight:600}
.why_section_PCOS .content_box_why_pcos{display:inline-flex;align-items:center}
@media (max-width:1680px){
.why_section_PCOS p{font-size:16px}
}
@media (max-width:600px){
.PCOS_div_new.why_section_PCOS{margin-top:30px}
.PCOS_div_new.why_section_PCOS .container{padding:30px 15px}
.why_section_PCOS p{width:85%}
.why_section_PCOS p span{font-size:18px;font-weight:600}
}


/*==========================================*/
/* Root Causes section css*/
/*==========================================*/
.PCOS_div_new.root_causes_pcox{margin-top:50px}
.root_causes_pcox .icon_box_why{width:56px;height:56px;padding:10px;margin-right:12px;background-color:#f6f7fb;border-radius:6px}
.root_causes_pcox p{line-height:normal;font-size:18px;font-weight:300;line-height:normal;margin-bottom:0}
.root_causes_pcox .content_box_why_pcos{display:inline-flex;align-items:center}
@media (max-width:1680px){
.root_causes_pcox p{font-size:16px}
}
@media (max-width:600px){
.PCOS_div_new.root_causes_pcox{margin-top:30px}
.PCOS_div_new.root_causes_pcox .container{padding:0 15px}
.root_causes_pcox p{width:85%}
}

/*==========================================*/
/* Why Homeopathy section css*/
/*==========================================*/
.PCOS_div_new.why_homeopathy_section_PCOS{margin-top:50px}
.why_homeopathy_section_PCOS .icon_box_why{width:56px;height:56px;padding:10px;margin-right:12px;background-color:#0c4679;border-radius:6px}
.why_homeopathy_section_PCOS .content_box_why_pcos p{line-height:normal;font-size:18px;font-weight:300;line-height:normal;margin-bottom:0}
.why_homeopathy_section_PCOS .content_box_why_pcos p span{font-size:24px;font-weight:600}
.why_homeopathy_section_PCOS .content_box_why_pcos{display:inline-flex;align-items:center}
@media (max-width:1680px){
.why_homeopathy_section_PCOS .content_box_why_pcos p,.why_homeopathy_section_PCOS p{font-size:16px}
}
@media (max-width:600px){
.PCOS_div_new.why_homeopathy_section_PCOS{margin-top:30px}
.why_homeopathy_section_PCOS .content_box_why_pcos p{width:85%}
.why_homeopathy_section_PCOS .content_box_why_pcos p span{font-size:18px;font-weight:600}
}



/*==========================================*/
/* Root Causes section css*/
/*==========================================*/
.PCOS_div_new.understand_pcos_section{margin-top:50px}
.understand_pcos_section .icon_box_why{width:56px;height:56px;padding:10px;margin-right:12px;background-color:#f6f7fb;border-radius:6px}
.understand_pcos_section h5{font-size:24px;color:#000;line-height:normal;font-weight:600}
.understand_pcos_section .icon_box_why p{line-height:normal;font-size:18px;font-weight:300;line-height:normal;margin-bottom:0}
.understand_pcos_section .content_box_why_pcos{display:inline-flex;align-items:center}
@media (max-width:1680px){
.understand_pcos_section .icon_box_why p{font-size:16px}
}
@media (max-width:600px){
.PCOS_div_new.understand_pcos_section{margin-top:30px}
.PCOS_div_new.understand_pcos_section .container{padding:0 15px}
.understand_pcos_section .icon_box_why p{width:85%}
.understand_pcos_section h5{font-size:18px;color:#000;line-height:normal;font-weight:600}
}


/*==========================================*/
/* Writing testmonilas css*/
/*==========================================*/

.PCOS_div_new.pcos_text_testmonilas{margin-top:50px}
.PCOS_div_new .pcos-rating-box{height:380px;padding:30px 10px;background-color:#e0f3ff;border-radius:20px;background-image:url(../images/banner-left-top.webp),url(../images/banner-right-bottom.webp);background-repeat:no-repeat;background-position:top 5px left 5px,bottom 5px right 5px;background-size:auto!important}
.PCOS_div_new .pcos-rating-cls-para{padding-top:5px;font-size:18px;color:#000}
.PCOS_div_new .pcos-ourrating-subheading{font-size:20px;font-weight:600;margin-bottom:0;padding-bottom:0}
.PCOS_div_new .pcos-ourrating-subheading small{font-weight:600;font-size:14px}
.PCOS_div_new .owl-dots{display:block;text-align:center}
.PCOS_div_new .owl-dot{display:inline-block;margin:10px 5px 0}
.PCOS_div_new .owl-dot span{width:12px;height:12px;background-color:#9c9c9c;display:block;border-radius:50%;transition:background-color .3s ease}
.PCOS_div_new .owl-dot.active span{background-color:#2196f3;border:2px solid #fff;outline:2px solid #2196f3}
@media(max-width:600px){
.PCOS_div_new.pcos_text_testmonilas{margin-top:30px}
.PCOS_div_new .pcos-rating-box{height:340px}
.PCOS_div_new .pcos-ourrating-subheading{font-size:18px}
.PCOS_div_new .pcos-rating-cls-para{padding-top:5px;font-size:16px;color:#000}
}


/*==========================================*/
/* did you know css*/
/*==========================================*/

.PCOS_div_new.did_u_know_section_pcos{margin-top:50px;padding:40px 0 50px;background-color:#e0f3ff}
@media(max-width:600px){
.PCOS_div_new.did_u_know_section_pcos{margin-top:30px;padding:30px 0}
}


/*==========================================*/
/* table css*/
/*==========================================*/
.PCOS_div_new.table_section{padding-top:50px}
@media(max-width:600px){
.PCOS_div_new.table_section{padding-top:30px}
}
.PCOS_div_new .table_comparision_css{border-collapse:separate;border-spacing:0;margin-bottom:0;background-color:#f6f7fb;padding:20px 40px;border-radius:20px}
.PCOS_div_new .table_comparision_css td,.PCOS_div_new .table_comparision_css th{border-top:none;border-bottom:none}
.PCOS_div_new .table_comparision_css th{text-align:center;font-size:21px;line-height:normal;font-weight:600}
.PCOS_div_new .table_comparision_css td{text-align:center;font-size:18px;font-weight:500;width:30%;line-height:normal}
.PCOS_div_new .table_comparision_css td:first-child,.PCOS_div_new .table_comparision_css th:first-child{text-align:left}
@media screen and (max-width:600px){
.PCOS_div_new .table_comparision_css{padding:15px}
.PCOS_div_new .table_comparision_css td,.PCOS_div_new .table_comparision_css th{padding:10px 5px}
.PCOS_div_new .table_comparision_css td img,.PCOS_div_new .table_comparision_css th img{width:20px}
.PCOS_div_new .table_comparision_css th{text-align:center;font-size:14px}
.PCOS_div_new .table_comparision_css td{text-align:center;font-size:14px;font-weight:500}
.PCOS_div_new .table_comparision_css td:first-child{width:60%}
}


/*==========================================*/
/* Form Form css*/
/*==========================================*/
 .PCOS_div_new.form_section_div{padding:20px 0;background-color:#fff;border-top:20px solid #0c4475;border-bottom:20px solid #0c4475}
.PCOS_div_new .form_custom_bg_testmonilas{background:#fff;padding:0}
.PCOS_div_new .testmonilas_form_custom label{position:absolute;top:35%;left:28px;transform:translateY(-50%);font-size:16px;color:#757575;pointer-events:none;transition:all .15s ease-out}
.PCOS_div_new .testmonilas_form_custom input,.PCOS_div_new .testmonilas_form_custom select{display:block;width:100%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:16px;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:6px;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.PCOS_div_new .testmonilas_form_custom input:focus,.PCOS_div_new .testmonilas_form_custom select:focus{border:1px solid #1d81c4;outline:0;background-color:#fff}
.PCOS_div_new .testmonilas_form_custom input.has-value+label,.PCOS_div_new .testmonilas_form_custom input:focus+label,.PCOS_div_new .testmonilas_form_custom select.has-value+label,.PCOS_div_new .testmonilas_form_custom select:focus+label{top:-1px;font-size:11px;font-weight:500;color:#1d81c4;background-color:#fff;padding:5px 6px 0 6px}
.PCOS_div_new .testmonilas_form_custom input:focus::-webkit-input-placeholder,.PCOS_div_new .testmonilas_form_custom select:focus::-webkit-input-placeholder{color:transparent}
.PCOS_div_new .check_box_lable input{width:16px;height:auto;display:inline-flex;margin-left:0}
.PCOS_div_new .check_box_lable label{padding-top:6px;font-size:12px;color:#212121!important;margin-bottom:0}
.PCOS_div_new .form_custom_heading_testmonilas{margin-bottom:0;font-size:32px;text-align:left;font-weight:400;color:#212121;line-height:normal}
.PCOS_div_new .form_custom_heading_testmonilas span{font-weight:600;color:#187fc3}
.PCOS_div_new .btn_custom_testmonilas{width:100%;margin-bottom:0;height:calc(1.5em + .75rem + 2px);line-height:1.6;color:#fff;border-radius:6px;font-weight:500;border:none;background-color:#1f83c5!important;text-transform:uppercase; border-radius: 50px;}
@media(max-width:600px){
.PCOS_div_new.form_section_div{margin-top:20px;background-color:#0c4475}
.PCOS_div_new .form_section_div .container{border-radius:20px}
.PCOS_div_new .form_custom_bg_testmonilas{width:100%;background:#fff;padding:20px 0;border-radius:20px}
.PCOS_div_new .testmonilas_form_custom label{position:absolute;top:37%;left:28px;transform:translateY(-50%);font-size:16px;color:#757575;pointer-events:none;transition:all .15s ease-out}
.PCOS_div_new .check_box_lable label{padding-top:0;font-size:10px;color:#212121!important;margin-bottom:10px}
.PCOS_div_new .btn_custom_testmonilas{font-size:16px}
.PCOS_div_new .form_custom_heading_testmonilas{margin-bottom:12px;font-size:24px;text-align:center;font-weight:400;color:#212121;line-height:normal}
.PCOS_div_new .form_custom_heading_testmonilas span{font-weight:600;color:#187fc3}
.PCOS_div_new .btn_custom_testmonilas{font-size:16px}
}

/*==========================================*/
/* What css*/
/*==========================================*/
.PCOS_div_new.what_section_xogen_sec{margin-top:50px!important;background:linear-gradient(90deg,#1f83c5 44%,#fff 44%);background-size:100% calc(100% - 80px);background-position:center;background-repeat:no-repeat}
.PCOS_div_new .youtube-video{width:100%;aspect-ratio:15/8}
.PCOS_div_new .video-container{width:100%;height:46vh;overflow:hidden;position:relative}
.PCOS_div_new .video-container iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.PCOS_div_new .video-container iframe{pointer-events:none}
.PCOS_div_new .video-container iframe{position:absolute;top:-60px;left:0;width:100%;height:calc(100% + 120px)}
.PCOS_div_new .video-foreground{pointer-events:none}
@media(max-width:1680px){
.PCOS_div_new .video-container{width:100%;height:40vh;overflow:hidden;position:relative}
}
@media(max-width:1024px){
.PCOS_div_new .video-container{width:100%;height:34vh;overflow:hidden;position:relative}
}
@media(max-width:800px){
.PCOS_div_new .video-container{width:100%;height:25vh;overflow:hidden;position:relative}
}
@media(max-width:768px){
.PCOS_div_new .video-container{width:100%;height:42vh;overflow:hidden;position:relative}
.PCOS_div_new.what_section_xogen_sec{background:#fff}
.PCOS_div_new.what_section_xogen_sec{margin-top:40px!important}
}

/*==========================================*/
/* Form Form css*/
/*==========================================*/
.PCOS-div.pcos_teartment_section{padding-top:50px}
.PCOS-div .list_for_pcos_common{margin-top:10px;margin-bottom:10px;padding-inline-start:25px}
.PCOS-div .list_for_pcos_common li strong{font-size:18px;color:#1f83c5;font-weight:600}
.PCOS-div .list_for_pcos_common li::marker{color:#1f83c5}
@media screen and (max-width:600px){
.PCOS-div.pcos_teartment_section{padding-top:30px}
}

/*==========================================*/
/* FAQ css*/
/*==========================================*/
.PCOS_div_new.faq_accordation_section{margin-top:50px;margin-bottom:50px}
.faq_accordation_section .accordion{display:flex;flex-direction:column;gap:10px;width:100%}
.faq_accordation_section .accordion__item{border:1px solid #ecf0f2;border-radius:10px;overflow:hidden;transition:border .3s}
.faq_accordation_section .accordion__header{padding:20px 25px;font-weight:600;cursor:pointer;position:relative;font-size:18px}
.faq_accordation_section .accordion__header::after{content:"";background:url(https://www.svgrepo.com/show/357035/angle-down.svg) no-repeat center;width:20px;height:20px;transition:.4s;display:inline-block;position:absolute;right:15px;top:20px}
.faq_accordation_section .accordion__header.active{background:#ecf0f2}
.faq_accordation_section .accordion__header.active::after{transform:rotateX(180deg)}
.faq_accordation_section .accordion__item.active{border:1px solid #000}
.faq_accordation_section .accordion__item .accordion__content{padding:0 25px;max-height:0;transition:.5s;overflow:hidden;background:#ecf0f2;font-size:16px;font-weight:400}
.faq_accordation_section .accordion__item .accordion__content p{margin-bottom:15px}
@media screen and (max-width:600px){
.PCOS_div_new.faq_accordation_section{margin-top:30px;margin-bottom:30px}
.faq_accordation_section .accordion__header{padding:10px 25px;font-weight:600;cursor:pointer;position:relative;font-size:16px}
}